.cards {
  width: 13rem;
  text-align: center;
  margin: 1rem 0 1rem 0;
  border: none;
  transition: transform 400ms ease-in-out;
  background: url("../../assets/body_bg.png");
  backdrop-filter: blur(2px);
  border-radius: 0.313rem;

  &:hover {
    transform: scale(1.02);
  }
}

.container-img-card {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__img {
    width: 12rem ;
    margin-top: 1rem;
    background: rgba(255, 255, 255, 0.1);
    border: 0.125rem solid rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.5px);
    border-radius: 0.313rem;

    &:hover {
      transition: background 500ms ease-in-out;
      cursor: pointer;
      background-color: rgba(14, 7, 6, 0.171);
    }

    img {
      height: 8rem;
      width: 9rem;
      transition: transform 300ms ease-in-out;

      &:hover {
        transform: scale(1.05);
      }
    }
  }
}

.container-detail {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__detail {
    font-size: 1rem;
    margin: 0;
  }
}

.card-title,
.h5 {
  font-size: 1.5rem;
  margin: 0;
}
