.modal-content {
  background: none !important;
  border: none;
}

.container-modal {
  border-radius: 0.375rem;
  background: #262626 url("../../assets/container_bg.png");

}

.modal-header {
  border: none;
}

.container-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
}


.container-img {
  width: 100%;
  display: flex;
  justify-content: center;
  
  div {
    width: 16.875rem;
    background: rgba(255, 255, 255, 0.2);
    border: 0.188rem solid rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.5px);
    border-radius: 0.188rem;
    text-align: center;
  }
  
  img {
    width: 8rem;
  }
}

.descr-details {
  font-size: 1.3rem;
  padding: 0.625rem;
}