@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:wght@400;500;600;700&display=swap");

html,body {
    background: url("../../assets/container_bg.png");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family-standard;
    font-size: $font-size-standard;
    color: $color-neutral;
}